.bg {
  background: radial-gradient(circle, #3272f2, #1f59e0);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
}

.left-column {
  flex: 0 0 20%;
}

.right-column {
  flex: 1;
  
}

.list {
  display: flex;
  align-items: center;
}

.inputbtn {
  display: flex;
  align-items: center;
}

.icon-btn {
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: transparent;
  font-size: 25px;
  margin-right: 15px;
}

.fieldStyle {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 96px;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.default-btn {
  border-radius: 30px;
  border-width: 0;
  margin: 15px;
  background-color:darkblue;
  color: white;
  width: 40px;
  height: 40px;
}


